.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
data/인천*.xlsx
data/EMD_202302
data/jsocde20230611
data/LARD_ADM_SECT_SGG_경기
data/LSMD_ADM_SECT_UMD_경기
data/NGII_CDM_행정경계(시군구)
data/Z_SOP_BND_ADM_DONG_PG

data/HangJeongDong_ver20230401.geojson
data/EDM
data/gshhg-shp-2.3.7
data/realmeter/*.pdf
data/NBS/*.zip
data/NBS/*.pdf

data/apt_seoul_1708_2307.csv
data/jscode20230703/
data/정당회계
